<h2>Show pin</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @pin.name %>
  </li>

  <li>
    <strong>Latitude:</strong>
    <%= @pin.latitude %>
  </li>

  <li>
    <strong>Longitude:</strong>
    <%= @pin.longitude %>
  </li>

</ul>

<%= link "Edit", to: user_bucket_pin_path(@conn, @current_user, :edit, @pin) %>
<%= link "Back", to: user_bucket_pin_path(@conn, @current_user, :index, @pin) %>
