<h2>Show pin</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @pin.name %>
  </li>

  <li>
    <strong>Latitude:</strong>
    <%= @pin.latitude %>
  </li>

  <li>
    <strong>Longitude:</strong>
    <%= @pin.longitude %>
  </li>

</ul>

<%= link "Edit", to: user_bucket_pin_path(@conn, :edit, @pin.user_id, @pin.bucket_id, @pin.id) %>
<%= link "Back", to: user_bucket_pin_path(@conn, :index, @current_user, @bucket) %>
