#sign-out-link {
    position: relative;
    display: block;
    border-radius: 4px;
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
}

#sign-out-link:hover,
#sign-out-link:focus {
    text-decoration: none;
    background-color: #eee;
}

.nav-pills>li>a,
.nav-pills>li>form>a {
    padding: 10px 15px;
    text-decoration: none;
    display: inline;
}

#current-user {
    padding: 0px 15px;

}
