<h2>New pin</h2>

<%= render "form.html",
           changeset: @changeset,
           action: user_bucket_pin_path(@conn, :create, @current_user, @bucket) %>

<%= link "Back", to: user_bucket_pin_path(@conn, :index, @current_user, @bucket) %>
